:root {
  --white: white;
  --black: black;
  --grad-start: #FFC371;
  --grad-end: #FF5F6D;
}

// .classic {
//   --white: white;
//   --black: black;
//   --grad-start: #FFC371;
//   --grad-end: #FF5F6D;
// }
// .fruity {
//   --white: #fafafa;
//   --black: #fe4450;
//   --grad-start: #FFC371;
//   --grad-end: #FF5F6D;
// }

  // Bumblebee
  // --white: #FEE715;
  // --black: #101820;

  // Fruity
  // --white: #fafafa;
  // --black: #fe4450;

  // Treefrog
  // --white: #bedf43;
  // --black: #255c7e;

  // 80's
  // --white: #18e2df;
  // --black: #332148;

  // sunset
  // --white: #f1e2da;
  // --black: #1f0233;

  // Lotus
  // --white: #fea981;
  // --black: #5b0e30;

  // Island life
  // --white: #f8f6f4;
  // --black: #72c493;

  // firetruck
  // --white: #f8f6f4;
  // --black: #f97566;


  // EasyMed
  // --grad-start: #DCE35B;
  // --grad-end: #45B649;

  // Vice City
  // --grad-start: #3494E6;
  // --grad-end: #EC6EAD;

  // Love Couple
  // --grad-start: #3a6186;
  // --grad-end: #89253e;

  // Blood Red
  // --grad-start: #f85032;
  // --grad-end: #e73827;

  // Deep Sea Space
  // --grad-start: #2C3E50;
  // --grad-end: #4CA1AF;

  // Deep Space
  // --grad-start: #000000;
  // --grad-end: #434343;

  // Blush
  // --grad-start: #B24592;
  // --grad-end: #F15F79;


body {
  flex-flow: column nowrap;
  font-family: Helvetica, Arial, sans-serif;
  background: var(--grad-end);
  background: linear-gradient(to bottom left, var(--grad-start), var(--grad-end));
  background-attachment: fixed;
  font-size: 1.0vw;
  color: var(--black);
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.game {
  padding: 2em;
  width: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: (50%/3) (50%/3) (50%/3) (50%) ;
  grid-template-areas:
    "black-card white-deck black-deck round"
    "hand       hand       hand       round"
    "stats      stats      stats      round"
    "past-rounds past-rounds past-rounds round";

  & > * {
    margin: 2em;
  }
}

.hand {
  grid-area: hand;
  display: flex;
  flex-flow: row;
  & .card {
    margin-right: -3.3em;
    margin-left: -3.3em;
  }
  .card:hover ~ .card {
    opacity: 0.2;
  }
  padding: 1em 8.3em;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 800px;
}

.deck {
  display: flex;
  flex-flow: row;
  & > .card {
    margin-right: -9.4em;
  }
}

.card {
  border-radius: 10px;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: black 2px 2px 10px 1px;
  font-weight: bold;
  cursor: pointer;
  transform-origin: center bottom;
  position: relative;
  top: 0;

  transition: all 0.2s;

  // width: 150px;
  width: 7.7em;
  // height: 200px;
  height: 11em;

  &:hover {
    top: -1.5em;
  }
  &.white { 
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
  }
  &.black {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
  }
}

.stack {
  display: flex;
  flex-flow: column nowrap;

  .card:hover ~ .card {
    opacity: 0.2;
  }

  & > .card:not(:last-of-type) {
    margin-bottom: -8em;
  }
}

.submissions {
  display: flex;
  flex-flow: row wrap;
  & > * {
    margin: 0 1em;
  }
}

.submission {
  position: relative;
}

.emoji {
  font-size: 3em;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.pointer {
  top: -1.1em;
}
.undo {
  bottom: 0em;
  cursor: pointer;
  text-align: center;
  transition: font-size 0.2s;
  &:hover {
    font-size: 4em;
  }
}


.white-deck {
  grid-area: white-deck;
}
.black-deck {
  grid-area: black-deck;
}
.black-card {
  grid-area: black-card;
}
.round {
  grid-area: round;
}
.stats {
  grid-area: stats;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background: var(--white);
  border: 1px solid var(--black);

  border-radius: 10px;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: black 2px 2px 10px 1px;
  font-weight: bold;

  & > * {
    margin: 1em;
  }
}

.past-rounds {
  grid-area: past-rounds;
  display: flex;
  flex-flow: column nowrap;
}

.past-round {
    padding-bottom: 4em;
    margin: 3em;
    border-bottom: 10px solid rgba(0, 0, 0, 0.3);
    display: flex;
}

.game-view-toggle {
  text-align: right;
  margin-right: 1em;
}

.menu {
  position: fixed;
  width: 100%;
}

.game-view-toggle {
  right: 1px;
  cursor: pointer;
}
