body {
  flex-flow: column nowrap;
  font-family: Helvetica, Arial, sans-serif;
  background: #FF5F6D;
  background: linear-gradient(to bottom left, #FFC371, #FF5F6D);
  background-attachment: fixed;
  font-size: 1.0vw;
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.game {
  width: 100%;
  display: grid;
  grid-template-columns: (50%/3) (50%/3) (50%/3) (50%) ;
  grid-template-rows: auto;
  grid-template-areas:
    "black-card white-deck black-deck round"
    "hand       hand       hand       round"
    "stats      stats      stats      round";

  & > * {
    margin: 2em;
  }
}

.hand {
  display: flex;
  flex-flow: row;
  & > .card {
    margin-right: -3.3em;
    margin-left: -3.3em;
    &:hover {
      margin-right: 0.5em;
      &:not(:first-of-type) {
        margin-left: -1.5em;
      }
    }
  }
  padding-left: 8.3em;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 800px;
}

.deck {
  display: flex;
  flex-flow: row;
  & > .card {
    margin-right: -9.4em;
  }
}

.card {
  border-radius: 10px;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: black 2px 2px 10px 1px;
  font-weight: bold;
  cursor: pointer;
  transform-origin: center bottom;

  transition: margin 0.2s, transform 0.2s;

  // width: 150px;
  width: 7.7em;
  // height: 200px;
  height: 11em;

  &:hover {
    margin-top: -1.5em;
  }
  &.white { 
    color: #101010;
    background-color: white;
    border: 1px solid black;
  }
  &.black {
    color: #F0F0F0;
    background-color: #101010;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}

.stack {
  display: flex;
  flex-flow: column nowrap;

  & > .card:not(:last-of-type) {
    margin-bottom: -8em;
    &:hover {
      margin-bottom: -3em;
    }
  }
}

.submissions {
  display: flex;
  flex-flow: row wrap;
  & > * {
    margin: 0 1em;
  }
}

.submission {
  position: relative;
}

.pointer {
  font-size: 3em;
  position: absolute;
  width: 100%;
  text-align: center;
  top: -1.1em;
  z-index: 1000;
}


.white-deck {
  grid-area: white-deck;
}
.black-deck {
  grid-area: black-deck;
}
.black-card {
  grid-area: black-card;
}
.round {
  grid-area: round;
}
.hand {
  grid-area: hand;
}
.stats {
  grid-area: stats;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background: white;
  border: 1px solid black;

  border-radius: 10px;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: black 2px 2px 10px 1px;
  font-weight: bold;

  & > * {
    margin: 1em;
  }
}
